// font
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// colors
$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$neutral-magenta-dark: hsl(300, 43%, 22%);
$neutral-magenta-light: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);


// mobile layout
#root{
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                        "rate"
                        "testimonials";
  background-color: $neutral-white;
}

.header{
  grid-row: header;
  &__title{
    font-weight: 700;
    color: $primary-magenta;
    padding: 3rem 2rem 2rem;
    text-align: center;
  }
  &__description{
    text-align: center;
  }
}

.rate{
  grid-column: rate;
}
.testimonials{
  grid-column: testimonials;
}

