// font
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// colors
$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$neutral-magenta-dark: hsl(300, 43%, 22%);
$neutral-magenta-light: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);


// mobile layout
body{
  margin: 0;
}
.page{
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                        "rate"
                        "testimonial";
  padding: 0 1.8rem;
  &_background{
    background-color: $neutral-white;
    background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
  }
}

.header{
  grid-row: header;
  &__title{
    font-weight: 700;
    color: $primary-magenta;
    padding: 3rem 2rem 2rem;
    text-align: center;
  }
  &__description{
    text-align: center;
    color: $neutral-magenta-dark;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.rate{
  grid-column: rate;
  &__starts{
    display: flex;
    justify-content: center;
    & img {
      margin-left: .7rem;
    }

  }
  &__message{
    text-align: center;
    color: $primary-magenta;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__container{
    background-color: $neutral-magenta-light;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
  }
}

.testimonial{
  grid-column: testimonial;
  &__container{
    background-color: $neutral-magenta-dark;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    color: $neutral-white;
    border-radius: 1rem;
    padding: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  &__header{
    overflow: auto;
  }
  &__img{
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
  }
  &__verify-buyer{
    color: $primary-pink;
  }
}

// desktop 
@media (min-width: 1440px){
  .page{
    grid-gap: 6rem 6rem;
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-rows: minmax(min-content, auto) 1fr;
    grid-template-areas: "header rate"
                          "testimonial testimonial";
    padding:  14rem 16rem;

    &_background{
      background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: left top, left bottom;
    }
  }

  .header{
    &__title{
      text-align: left;
      max-width: 30rem;
      margin: 0;
      padding: 0;

    }
    &__description{
      text-align: left;
      color: $neutral-magenta-dark;
      line-height: 1.5;
      margin-bottom: 0;
      max-width: 45rem;

    }
  }

  .rate{
    width: max-content;
    height: max-content;

    &__container{
      margin: 1rem 0rem 1.5rem;
      padding: 1.5rem 5rem 1.5rem 1rem;
      border-radius: 1rem;

      display: flex;
      align-items: center;

    }
    &__message{
      margin: 0;
      margin-left: 2rem;
      padding-left: 2rem;
    }
    &_report_gurux_indent{
      margin-left: 5rem;
    }
    &_best_tect_indent{
      margin-left: 10rem;
    }
    
  }
}