// font
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// colors
$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$neutral-magenta-dark: hsl(300, 43%, 22%);
$neutral-magenta-light: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);


// mobile layout
body{
  margin: 0;
}
#root{
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                        "rate"
                        "testimonial";
  background-color: $neutral-white;
  padding: 0 1.8rem;
  background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
}

.header{
  grid-row: header;
  margin-bottom: 2rem;
  &__title{
    font-weight: 700;
    color: $primary-magenta;
    padding: 3rem 2rem 2rem;
    text-align: center;
  }
  &__description{
    text-align: center;
    color: $neutral-magenta-dark;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.rate{
  grid-column: rate;
  margin-bottom: 2rem;
  &__starts{
    display: flex;
    justify-content: center;
    & img {
      margin-left: .7rem;
    }

  }
  &__message{
    text-align: center;
    color: $primary-magenta;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__container{
    background-color: $neutral-magenta-light;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
  }
}

.testimonial{
  grid-column: testimonial;
  &__container{
    background-color: $neutral-magenta-dark;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    color: $neutral-white;
    border-radius: 1rem;
    padding: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  &__header{
    overflow: auto;
  }
  &__img{
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
  }
  &__verify-buyer{
    color: $primary-pink;
  }
}
